*.zip
*.rar

*.exe
*.asi
*.dll
*.log

*.dff
*.txd
*.img
*.mp3

*.lnk

stream.ini

/anim/

/audio/CONFIG
/audio/SFX
/audio/streams

/cleo/
/data/
/models/

!modloader/
modloader/*
!modloader/2hu GTA/
!modloader/LC/
modloader/LC/models/
modloader/LC/radio/
modloader/LC/script/2hu GTAIII script/
!modloader/LCS/
modloader/LCS/data/test/
modloader/LCS/models/
modloader/LCS/radio/
!modloader/scripts/
modloader/scripts/old script \[deprecated\]/
modloader/scripts/constants.inc
!modloader/VCS/
modloader/VCS/models/
modloader/VCS/radio/
!modloader/skins/
modloader/skins/*.dff
modloader/skins/*.txd

/movies/
/ReadMe/
/scripts/
/text/
