*.zip
*.rar

*.exe
*.asi
*.dll
*.log

*.dff
*.txd
*.img
*.mp3

*.lnk

stream.ini

/anim/

/audio/CONFIG
/audio/SFX
/audio/streams

/cleo/
/data/
/models/

!modloader/
modloader/*
!modloader/2huGTA/
!modloader/scripts/
modloader/scripts/constants.inc

/movies/
/ReadMe/
/scripts/
/text/
